Asteroids/.vs/main/v16/Browse.VC.db
Asteroids/.vs/main/v16/Browse.VC.db
Asteroids/.vs/main/v16/Browse.VC.db-shm
Asteroids/.vs/main/v16/Browse.VC.opendb
Asteroids/.vs/main/v16/Browse.VC.db-wal
Asteroids/.vs/main/v16/Browse.VC.db
Asteroids/.vs/main/v16/.suo
Asteroids/.vs/main/v16/Browse.VC.db
